@font-face {
    font-family: 'exo';
    src: url('../../fonts/exo2.0-thin-webfont.woff2') format('woff2'),
         url('../../fonts/exo2.0-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS-Bold';
    src: url('../../fonts/TrebuchetMS-Bold.woff2') format('woff2'),
         url('../../fonts/TrebuchetMS-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrebuchetMS';
    src: url('../../fonts/TrebuchetMS.woff2') format('woff2'),
         url('../../fonts/TrebuchetMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}