@font-face {
    font-family: 'exo';
    src: url('../../fonts/exo2.0-thin-webfont.woff2') format('woff2'),
         url('../../fonts/exo2.0-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}