.arrow {
    background: transparent;
    border: none;
    width: 20px;
    height: 10px;
    padding: 0;
    position: relative;
    cursor: pointer;

    &:hover:before {
        background: gray;
    }

    &:hover:after {
        background: gray;
    }

    &::before {
        content: '';
        width: 2px;
        height: 10px;
        display: block;
        background: #ffffff;
        transform: rotate(123deg);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        left: 5px;
    }

    &::after {
        content: '';
        width: 2px;
        height: 10px;
        display: block;
        background: #ffffff;
        transform: rotate(57deg);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        right: 5px;
    }

}
