.footer {
    background-image: linear-gradient(0deg, black 40%, transparent);
}

.footer__block {
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 63px 0 18px;   
}

.footer__left {
    display: flex;
    align-items: center;
}

.contacts__phone {
    color: #fff;
    font-weight: bold;
    margin-right: 47px;
}

.call {
    color: #86ae63;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 24px;
    position: relative;

    &::before {
        content: url(../../img/icons/call_me.png);
        position: absolute;
        display: block;
        width: 17px;
        height: 18px;
        left: -28px;
    }
}

.footer__right {
    display: flex;
    color: #fff;
    align-items: center;
}

.name__object {
    margin-right: 31px;
    color: #b0b6bd;
}

.declaration {
    margin-right: 49px;
    text-decoration: underline;
    color: #b0b6bd;
}

.brochure {
    text-decoration: underline;
    color: #b0b6bd;
    position: relative;

    &::before {
        content: url(../../img/icons/PDF.png);
        position: absolute;
        display: block;
        width: 14px;
        height: 18px;
        left: -23px;
    }
}