.cover {
    width: 140px;
    height: 79px;

    .cover__img {
        width: 100%;
        height: 100%;
    }
}

.data {
    padding: 6px 0 11px;
    font-style: italic;
    font-size: 11px;
    color: #8f8f8f;
}

.price {
    color: #cdd1da;
    font-size: 12px;
    font-weight: bold;
}

.all__news {
    padding-top: 15px;
    color: #86ae63;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}